body{
    text-align: center;
    margin: 0;
    background-image: url("img/auth_bg.png");
    background-size: cover;
}

div{
    text-align: inherit;
    vertical-align: central;
    display: contents;
}

#root{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    display: table;
    margin: 0;
}

.logo_container {
    background: linear-gradient(#5d2b5e, #b14670);
    height: 40px;
    position: relative;
    display: table-caption;
    margin: 0;
    text-align: left;
}

img {
    height: 45px;
    text-align: left;
}

span {
    margin: 0;
    padding: 0;
    position: absolute;
}

h1 {
    color: #d9aec4;
    position: relative;
    display: initial;
    padding-left: 15px;
    font-family: "Al Nile", sans-serif;
    margin: 0;
}

.form{
    height: 500px;
    width: 900px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.form__input {
    color: #d9aec4;
    height: 30px;
    width: 200px;
    margin: 25px auto 0 auto;
    border-radius: 20px;
    border: 2px solid #394c61;
    background-color: #394c61;
    font-family: "Al Nile", sans-serif;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;

}

.form__btn{
    font-family: "Al Nile", sans-serif;
    font-size: inherit;
    background-color: #b44a72;
    border: 2px solid #d9aec4;
    height: 38px;
    width: 210px;
    margin: 25px auto 0 auto;
    border-radius: 20px;
    color: #d9aec4;
}

.focused {
    border: red;
    background-color: #394c61;
}

.error{
    color: rgba(255, 0, 0, 0.84);
    height: auto;
    width: 200px;
    display: none;
    margin: 0 auto;
    overflow: auto;
    font-family: "Al Nile", sans-serif;
    font-size: small;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}